* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.jumbotron {
    height: 300px;
}

.link-color:hover {
    color: gray;
}

.jumbotron h3 {
    text-shadow: 1px 1px black;
}

.img-login {
    margin-top: 130px;
    margin-bottom: 70px;
}

.face {
    background: url("../img/barra_face.jpg") no-repeat center;
    cursor: pointer;
    background-size: cover;
}

.google {
    background: url("../img/barra_google.png") no-repeat center;
    cursor: pointer;
    background-size: cover;
}

.email {
    padding-left: 35px;     
    padding-top: 5px;   
    background: url("../img/email.png") no-repeat left;
    background-position-x: 7px;
}
